<style>
  .size-tabs-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .size-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .size-tab {
    display: block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    color: #333;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .size-tab:hover,
  .size-tab.active {
    background-color: #333;
    color: #fff;
  }
</style>

{%- unless product.has_only_default_variant -%}
  {%- if block.settings.picker_type == 'button' -%}
    <div class="size-tabs-wrapper">
      <div class="size-tabs">
        <a class="size-tab active" data-region-label="{{ section.settings.region_label }}" href="#">US</a>
        <a class="size-tab" data-region-label="{{ section.settings.region_label }}" href="#">EU</a>
        <a class="size-tab" data-region-label="{{ section.settings.region_label }}" href="#">UK</a>
      </div>
    </div>
      <div class="size-tabs-content active">
        <variant-radios
          id="variant-radios-{{ section.id }}"
          class="no-js-hidden"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          {% if update_url == false %}
            data-update-url="false"
          {% endif %}
          {{ block.shopify_attributes }}
        >
          {%- for option in product.options_with_values -%}
            <fieldset class="js product-form__input">
              <legend class="form__label">{{ option.name }}</legend>
              {% render 'product-variant-options', product: product, option: option, block: block %}
            </fieldset>
          {%- endfor -%}
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-radios>
      </div>


    
  {%- else -%}
    <div class="size-tabs-wrapper">
      <div class="size-tabs">
        <a class="size-tab active" data-region-label="{{ section.settings.region_label }}" href="#">US</a>
        <a class="size-tab" data-region-label="{{ section.settings.region_label }}" href="#">EU</a>
        <a class="size-tab" data-region-label="{{ section.settings.region_label }}" href="#">UK</a>
      </div>
    </div>
      <div class="size-tabs-content active">
        <variant-selects
          id="variant-selects-{{ section.id }}"
          class="no-js-hidden"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          {% if update_url == false %}
            data-update-url="false"
          {% endif %}
          {{ block.shopify_attributes }}
        >
          {%- for option in product.options_with_values -%}
            <div class="product-form__input product-form__input--dropdown">
              <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <div class="select">
                <select
                  id="Option-{{ section.id }}-{{ forloop.index0 }}"
                  class="select__select"
                  name="options[{{ option.name | escape }}]"
                  form="{{ product_form_id }}"
                >
                  {% render 'product-variant-options', product: product, option: option, block: block %}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          {%- endfor -%}
    
          <script type="application/json">
            {{ product.variants | json }}
          </script>
        </variant-selects>
      </div>
  {%- endif -%}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">
      {{- 'products.product.product_variants' | t -}}
    </label>
    <div class="select">
      <select
        name="id"
        id="Variants-{{ section.id }}"
        class="select__select"
        form="{{ product_form_id }}"
      >
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {%- liquid
              echo variant.title
              echo variant.price | money | strip_html | prepend: ' - '
              if variant.available == false
                echo 'products.product.sold_out' | t | prepend: ' - '
              endif
              if variant.quantity_rule.increment > 1
                echo 'products.product.quantity.multiples_of' | t: quantity: variant.quantity_rule.increment | prepend: ' - '
              endif
              if variant.quantity_rule.min > 1
                echo 'products.product.quantity.minimum_of' | t: quantity: variant.quantity_rule.min | prepend: ' - '
              endif
              if variant.quantity_rule.max != null
                echo 'products.product.quantity.maximum_of' | t: quantity: variant.quantity_rule.max | prepend: ' - '
              endif
              # TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter
              # theme-check-disable
              assign cart_quantity = cart | item_count_for_variant: variant.id
              # theme-check-enable
              if cart_quantity > 0
                echo 'products.product.quantity.in_cart_html' | t: quantity: cart_quantity | prepend: ' - '
              endif
            -%}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>

<script>
  $(document).ready(function() {
  $('.size-tabs a').click(function(e) {
    e.preventDefault();
    $('.size-tabs a').removeClass('active');
    $(this).addClass('active');
    var selectedTab = $(this).text();
    if (selectedTab == "EU") {
      $('input[name="Size"]').each(function() {
        var usSize = parseFloat($(this).val());
        var euSize = usSize + 33;
        $(this).next().text(euSize);
      });
    } else if (selectedTab == "UK") {
      $('input[name="Size"]').each(function() {
        var usSize = parseFloat($(this).val());
        var ukSize = usSize - 1;
        $(this).next().text(ukSize);
      });
    } else {
      $('input[name="Size"]').each(function() {
        var usSize = parseFloat($(this).val());
        $(this).next().text(usSize);
      });
    }
  });
});

</script>

<script>
  $(document).ready(function() {
  $('.size-tabs a').click(function(e) {
    e.preventDefault();
    $('.size-tabs a').removeClass('active');
    $(this).addClass('active');
    var selectedTab = $(this).text();
    if (selectedTab == "EU") {
      $('select[name="options[Size]"] option').each(function() {
        var usSize = parseFloat($(this).val());
        var euSize = usSize + 33;
        $(this).text(euSize);
      });
    } else if (selectedTab == "UK") {
      $('select[name="options[Size]"] option').each(function() {
        var usSize = parseFloat($(this).val());
        var ukSize = usSize - 1;
        $(this).text(ukSize);
      });
    } else {
      $('select[name="options[Size]"] option').each(function() {
        var usSize = parseFloat($(this).val());
        $(this).text(usSize);
      });
    }
  });
});

</script>
